.options {
    display: flex;
    justify-content: space-evenly;
}

.option {
    width: 300px;
    font-size: 72px;
}

#results {
    display: flex;
    height: 40vh;
    font-size: 128px;
    justify-content: center;
    align-items: center;
}